<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% endif %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  
  <!-- Open Graph tags -->
  <meta property="og:title" content="{% if title %}{{ title }}{% endif %}" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../assets/main.bundle.css">
</head>
<body>
  <a class="skip-link border-0 h-auto m-0 p-0 overflow-hidden absolute w-0 whitespace-no-wrap top-0 left-0 bg-purple-900 text-white focus:inline-block focus:p-4 focus:w-auto " href="#main-content">Skip to main content</a>
  {% include 'components/header.njk' %}
  <div class="container mx-auto px-4 md:pt-20 md:pb-20 max-w-2xl border-b-2 border-purple-800">
    <main id="main-content" tabindex="-1">
    {{ content | safe }}
    </main>
  </div>
  {% include 'components/footer.njk' %}

  <script src="../assets/main.bundle.js"></script>
</body>
</html>