---
layout: base
---
<div class="prose">
    <h1>
        {% if draft %}
            <span class="font-bold text-red-500"> [ DRAFT ] </span>
        {% endif %}

        {{ title }}
    </h1>

    {{ content | safe }}

</div>