---
layout: base
---
<div class="prose">
  {% if scheduled %}
    <span class="font-bold text-yellow-500"> [ Scheduled ] </span>
  {% endif %}
  {% if draft %}
    <span class="font-bold text-red-500"> [ DRAFT ] </span>
  {% endif %}
  <h1>
    {{ title }}
  </h1>

  {{ content | safe }}

</div>