/* purgecss start ignore */
@import 'tailwindcss/base';
@import './base.css';
@import './typography.css';
@import './input.css';
@import './navigation.css';
/* purgecss end ignore */

/* Components */
@import 'tailwindcss/components';
@import './components.css';

/* Utilities */
@import 'tailwindcss/utilities';
@import './utilities.css';
