.button,
button {
	@apply py-3 px-4 font-normal rounded-full border-2 bg-transparent text-purple-900 border-purple-300 transition duration-300 ease-in-out;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	@apply bg-purple-300 border-purple-300 text-purple-900;
}

@screen lg {
	.button,
	button {
		@apply;
	}
}

@screen xl {
	.button,
	button {
		@apply;
	}
}
