---
title: Yo world - Ta11y is in tha' house
layout: base
---



<article itemscope="" itemtype="https://schema.org/CreativeWork" class="prose">
  <header>
    <h1 itemprop="headline">Easily build accessible websites with 11ty, TailwindCSS and AlpineJS</h1>
  </header>
  <div class="prose">
    <p>Ta11y is a simple 11ty template prepared to easily setup your next project with 11ty, TailwindCSS and AlpineJS.</p>

    <h2>This is a Level 2 Sample Heading</h2>
    <p></p>
    <h3>This is a Level 3 Sample Heading</h3>
    <p></p>
    <h4>This is a Level 4 Sample Heading</h4>
    <p></p>
    <h5>This is a Level 5 Sample Heading</h5>
  </div>
</article>