---
title: Yo world - Ta11y is in tha' house
layout: base
---

{% from "components/button.njk" import button %}

<article itemscope="" itemtype="https://schema.org/CreativeWork">
  <header>
    <h1 itemprop="headline">Build accessible websites with Eleventy and TailwindCSS</h1>
  </header>
  <div class="content">
    <p>This is a sample intro paragraph and can be used to hook visitors into reading your article. You can change the appearance of this by editing the style sheet.</p>
    <p>This is an example of a post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can <a href="#">create as many posts as you like</a> in order to share with your readers what is on your mind.</p>
    <p class="text-center">{{ button("Press me", submit) }}</p>
    <h2>This is a Sample Heading</h2>
    <p>This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.</p>
    <h3>This is a Sample Heading</h3>
    <p>This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.</p>
    <h4>This is a Sample Heading</h4>
    <p>This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.</p>
    <h5>This is a Sample Heading</h5>
    <p>This is an example of a WordPress post, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many posts as you like in order to share with your readers what is on your mind.</p>
  </div>
</article>