---
pagination:
    data: collections.allPosts
    size: 1
    alias: preview
permalink: "/img/social-preview-images/{{ preview.data.date | datefmt }}-{{ preview.data.title | slug }}-preview.svg"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="1200" height="628" viewBox="0 0 1200 628" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    {% set titleInLines = preview.data.title | splitlines %}
    {% set numberOfLines = titleInLines.length %}
    {% if numberOfLines == 1 %}
        {% set verticalStartingPoint = 340 %}
    {% elseif numberOfLines == 2 %}
        {% set verticalStartingPoint = 290 %}
    {% elseif numberOfLines == 3 %}
        {% set verticalStartingPoint = 250 %}
    {% elseif numberOfLines == 4 %}
        {% set verticalStartingPoint = 210 %}
    {% endif %}

    <rect width="100%" height="100%" fill="white"/>

    <text text-anchor="start" font-family="'Giant Head OT', Helvetica, sans-serif" font-size="200">
        <tspan x="80" y="350">ta11y</tspan>
    </text>

    <line x1="300" y1="80" x2="300" y2="548" stroke="black"/>

    <text font-family="Asap, Helvetica, sans-serif" font-size="30">
        <tspan x="350" y="{{verticalStartingPoint - 90}}">{{ preview.date | datefmt }}</tspan>
    </text>

    <text id="text" font-family="Asap, Helvetica, sans-serif" font-size="80" font-weight="bold">
        {% for line in titleInLines %}
            <tspan x="350" y="{{verticalStartingPoint + loop.index0 * 80}}">{{line}}</tspan>
        {% endfor %}
    </text>

</svg>