<footer class="w-full text-center mx-auto pt-16 pb-8 mt-auto bg-gradient-to-b from-transparent via-purple-100 to-fuchsia-200">
    <div class="prose mx-auto">
        <p>ta11y.app is an open <a href="https://www.11ty.dev/">11ty</a> starter project</p>
        <p>
            Created by <a href="https://markbuskbjerg.dk/">Mark Buskbjerg</a> ❤
        </p>
    </div>
</footer>