<footer class="text-center container mx-auto pt-16 pb-8 bg-gradient-to-b from-transparent via-purple-100 to-fuchsia-200">
    <div class="prose mx-auto">
        <p>ta11y.app is an open <a href="https://11ty.dev">11ty</a> starter project</p>
        <p>
            Created by <a href="https://markbuskbjerg.dk">Mark Buskbjerg</a> ❤
        </p>
    </div>
</footer>