<header>
  <nav class="max-w-2xl lg:max-w-5xl xl:max-w-5xl mx-auto px-4" x-data="{navOpen: false}">
    <div class="flex flex-wrap justify-between lg:items-center lg:justify-left pb-8 pt-6 lg:px-0">
      <div class="flex w-1/2 items-center justify-center italic text-black lg:w-1/4 bg-purple-300">
        <a href="/" title="Ta11y starter project">
          <span class="font-semibold text-2xl tracking-tight">ta11y</span>
          <span class="text-2xl tracking-tight">.io</span>
        </a>
      </div>
      <div class="flex justify-end w-1/2">
        <button @click="navOpen = !navOpen" id="navTrigger" aria-label="Toggle the primary navigation" type="button" class="flex gap-2 p-2 rounded-md font-bold hover:bg-slate-100">
          MENU
          <svg x-show="!navOpen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 fill-current">
            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
          </svg>
          <svg x-show="navOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>

        </button>
      </div>
      <ul x-show="navOpen" id="primaryNav" class="pt-2 lg:pt-0 lg:items-center lg:justify-center w-full lg:w-2/4 lg:flex">
        <li class="py-2 px-4">
          <a href="/features/" title="Features" class="nav-item">Features</a>
        </li>
        <li class="py-2 px-4">
          <a href="/components/" title="Components" class="nav-item">Components</a>
        </li>
        <li class="py-2 px-4">
          <a href="/posts/" title="Articles" class="nav-item">Articles</a>
        </li>
      </ul>
    </div>
  </nav>
</header>