---
title: This is the basic design of elements with Ta11y
layout: base
---

<header>
  <h1 itemprop="headline">This is the basic components included with Ta11y</h1>
</header>
<div class="content">
  <section>
    <h2>The button design</h2>
    <p>Here you can see the different button designs for Ta11y</p>
    <p><a href="#" class="button">Click me and achieve nothing</a></p>
  </section>
  <section>
    <h2>The form input design</h2>

    <input type="email">
  </section>
</div>