---
title: This is the basic design of elements with Ta11y
layout: base
---

<header>
  <h1 itemprop="headline">Components</h1>
</header>
<div class="content">
  <p>This is an attempt to provide a quick overview of how basic HTML-elements are styled out-of-the-box with Ta11y.</p>
  <section>
    <h2>Button design</h2>
    <p>Here you can see the different button designs for Ta11y</p>
    <p><a href="#" class="button">Click me and achieve nothing</a></p>
  </section>
  <section>
    <h2>Form input design</h2>
    <p>I've created sample form to provide a visual guide for all availble form elements</p>
    <form action="#" method="get">
      <div class="">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
      </div>
      <div class="">
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
      </div>
      <div class="">
        <label for="phone">Phone</label>
        <input type="phone" id="phone" name="phone">
      </div>
      <div class="">
        <label for="adress">Adress</label>
        <input type="adress" id="adress" name="adress">
      </div>
      <div class="">
        <label for="checkbox">Checkbox</label>
        <input type="checkbox" id="checkbox" name="checkbox">
      </div>
      <div class="">
        <label for="color">Color</label>
        <input type="color" id="color" name="color">
      </div>
      <div class="">     
        <label for="date">Date</label>
        <input type="date" id="date" name="date">
      </div>
      <div class="">     
      <input type="submit" value="Submit form">
      </div>
    </form> 
  </section>
</div>