---
title: Easily handle date-formatting
layout: single-post
date: 2023-04-26
tags: ['Tutorial', 'Dates']
seo:
    title: "Easily handle date formatting in 11ty (eleventy)"
    description: "With ta11y you can easily handle date-formatting out-of-the-box with 11ty (eleventy). Read more about the setup here."
---

<p>Out of the box ta11y use <code>date-fns</code> filter to format dates across the template. In this article I'll dive into how you can change the format globally or introduce new unique format filters.</p>

<p>To learn more about formatting dates with date-fns <a href="https://date-fns.org/v2.29.3/docs/format">visit the date-fns docs</a>
</p>

<h2>How dates are formatted as default</h2>
<p>By default dates are formatted as <code>December 12th - 2023</code>. </p>

<h3>Initialize the filter</h3>
<p>First we need to Initialize the filter in our 11ty setup. This is done in the file <code>.eleventy.js</code>.</p>

{%- highlight "js" -%}
// In .eleventy.js

const { format } = require("date-fns");

module.exports = function (eleventyConfig) {
    // Date filter
    // -----------------------
    eleventyConfig.addFilter("datefmt", (contentDate) =&gt; {
        return format(contentDate, "LLL d'th' - yyyy");
    });
}
{%- endhighlight -%}

<p>Now we can use this filter on all date values in our eleventy-install. Like in this snip of code from the collection of posts:</p>

{%- highlight "html" -%}
{%- raw -%}
    {%- if post.data.date -%}
        &lt;time&gt; datetime="{{- post.data.date -}}"&gt;{{- post.data.date | datefmt -}}&lt;/time&gt;
    {%- else -%}
        &lt;time&gt; datetime="{{ page.date }}"&gt;{{- page.date | datefmt -}}&lt;/time&gt;
    {%- endif -%}
{%- endraw -%}
{%- endhighlight -%}

<p>So we can add it like a normal nunjucks-filter:</p>

{%- highlight "html" -%}
{%- raw -%}
    {{- page.date | datefmt -}}
{% endraw %}
{%- endhighlight -%}

<h2>What if you wanted to include the weekday?</h2>
<p>So ... let's say you wanted to display the weekday in the formatted date?</p>
<p>Easy enough:</p>

<p>Just jump straight into <code>.eleventy.js</code> and alter this line:</p>

{%- highlight "js" -%}
// From this
eleventyConfig.addFilter("datefmt", (contentDate) =&gt; {
    return format(contentDate, "LLL d'th' - yyyy");
});

// To this
eleventyConfig.addFilter("datefmt", (contentDate) =&gt; {
    return format(contentDate, "eeee, LLL d'th' - yyyy");
});

{%- endhighlight -%}

<p>That is all it takes</p>