---
title: Learn webdevelopment
layout: base
permalink: /posts/
---

<h1>Learn webdevelopment</h1>

{%- for post in collections.posts -%}
  <div class="my-12">
    <p class="text-sm leading-5 text-gray-700">
      {% if post.data.date %}
        <time datetime="2020-03-16">{{ post.data.date.toString() }}</time>
      {% else %}
        <time datetime="">{{ page.date.toString() }}</time>
      {% endif %}
    </p>
    <a href="{{ post.url }}" class="block">
      <h2 class="mt-2 text-xl leading-7 font-semibold text-gray-900">
        {{ post.data.title }}
      </h2>
      {% if post.data.draft %}
        <p class="font-bold text-red-800">[Draft]</p>
      {% endif %}
      <p class="mt-3 text-base leading-6 text-gray-700">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
          </p>
    </a>
    <div class="mt-3">
      <a href="{{ post.url }}" class="text-base leading-6 font-semibold text-purple-600 hover:text-purple-500 transition ease-in-out duration-150">
          Read full story
        </a>
    </div>
  </div>

{%- endfor -%}