---
title: Scheduled posts will be published later
date: 2099-12-12
---

<p>If the date of the post is later than the current date for the build the value of draft will automatically be set to `true`.</p>

<h2>The only downside</h2>
<p>A downside to this approach is, that content is only handled on build. So if you only trigger your build manually scheduled posts won't be published.</p>