---
title: What is accessibility?
tags: ['A11Y', 'Tutorial']
draft: true
date: 2023-03-27
seo:
    title: "What is accessibility? And how to get better with every build"
    description: "Ta11y is an 11ty starter-project built with accessibility in mind. But what does that mean? And how do you get even better by every step of your build?"
---

This is a post about A11Y on the web