---
title: Handle draft-posts within your 11ty-build
tags: ['Test']
date: 2023-04-11
seo:
    title: "Easily handle draft posts in 11ty (eleventy)"
    description: "With ta11y you can easily handle draft-posts out-of-the-box with 11ty (eleventy). Read more about the setup here."
---

<p>Here comes an explanation of the setup. And how to use it.</p>

<p>Probably also gonna make some text about how to copy it into your own setup.</p>